<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Gavin has always been interested in computers, he had learned DOS by five years old, and was building his own gaming rigs by the age of ten. Still, it wasn't until taking an introductory programming class at twenty-five, that he realized how fun and rewarding it is to solve problems with code. He's been building awesome things ever since.</p>
                </div>
                <div class="col-lg-4">
                    <p>The natural beauty of the place Gavin grew up, the areas surrounding Monterey Bay, have given him a very deep love of the beauty of nature and the importance of protecting it. In this vein, he spends his free time taking hikes and shooting landscape fine art photographs. He also has always been deeply fascinated by Astronomy, Physics, Cosmology, and the wonders of the Universe. On a dark night, he's most likely staring up at the stars. If he's not doing any of those things, you'll find him at a local punk rock show.</p>
                </div>
            </div>
        </div>
    </section>