<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I have always been interested in computers. I had learned DOS by five years old, and was building my own gaming rigs by the age of ten. Still, it wasn't until taking an introductory programming class in my late twenties that I realized how fun and rewarding it is to solve problems with code. I've been building awesome things ever since.</p>
                </div>
                <div class="col-lg-4">
                    <p>The natural beauty of the place I grew up, the areas surrounding Monterey Bay, have given me a very deep love of the beauty of nature and the importance of protecting it. I really enjoy spending my free time taking hikes and shooting landscape fine art photography. I also have always been deeply fascinated by astronomy, physics, cosmology, and the wonders of the Universe. On a dark night, I'm most likely staring up at the stars. If I'm not doing any of those things, you'll find me at a local punk rock show.</p>
                </div>
            </div>
        </div>
    </section>