<!-- Education Section -->
    <section id="education" class="education-section section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Education</h2>
                    <hr class="star-light">
                </div>
            	<!--<div class="col-lg-12 text-center">-->
            	<div class="item col-lg-4 col-lg-offset-2">
            		<div class="item-inner">
            			<h4 class="text-capitalize">Bachelor's, Computer Science</h4>
            			<div class="education-body">
            				University of California, Santa Cruz
            			</div><!--education-body-->
            			<div class="time">June 2017</div>
            			<div class="desc">
            				<ul>
            					<li>Hack UCSC Hackathon, 2016 & 2017</li>
            					<li>Algorithms & Abstract Data Types, Artificial Intelligence, Data Programming & Visualization Computer Architecture, Computer Systems & Assembly Language, Intro to High Performance Computing, Mobile Applications, Foundations of Game Design, Linear Algebra, Software Engineering with Agile & Scrum, Technical Writing, Electricity & Magnetism, Creative Writing
            				</ul>
            			</div>
            		</div><!--//item-inner-->
            	</div> <!--//item-->
            	<div class="item col-lg-4">
            		<div class="item-inner">
            			<h4 class="text-capitalize">Associate's, Computer Science</h4>
            			<div class="education-body">
            				Hartnell College
            			</div><!--education-body-->
            			<div class="time">June 2015</div>
            			<div class="desc">
            				<ul>
            					<li>Data Structures & Algorithms, Operating Systems, Networking Fundamentals, Object Oriented Programming, Intro to Computer Science & Programming Fundamentals, Integral Calculus, Differential Calculus, Physics & Mechanics, Astronomy, Public Speaking </li>
            				</ul>
            			</div>
            		</div><!--//item-inner-->
            	</div> <!--//item-->
            </div>
        </div>
    </section>