<!-- Education Section -->
    <section id="education" class="education section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Education</h2>
                    <hr class="star-light">
                </div>
            	<!--<div class="col-lg-12 text-center">-->
            	<div class="item col-lg-4 col-lg-offset-2">
            		<div class="item-inner">
            			<h4 class="text-capitalize">Bachelor's, Computer Science</h4>
            			<div class="education-body">
            				University of California, Santa Cruz
            			</div><!--education-body-->
            			<div class="time">June 2017</div>
            			<div class="desc">
            				<ul>
									<li>Hackathons
									<ul>
										<li>Hack UCSC 2016</li> 
										<li>Hack UCSC 2017</li>
									</ul>
            					<li>Courses</li>
									<ul>
										<li>Algorithms & Abstract Data Types</li> 
										<li>Artificial Intelligence</li>
										<li>Data Programming & Visualization </li>
										<li>Computer Architecture</li>
										<li>Computer Systems & Assembly Language</li>
										<li>Intro to High Performance Computing</li>
										<li>Mobile Applications</li>
										<li>Foundations of Game Design</li>
										<li>Linear Algebra</li>
										<li>Software Engineering with Agile & Scrum</li>
										<li>Technical Writing</li>
										<li>Electricity & Magnetism</li>
										<li>Creative Writing</li>
									</ul>
            				</ul>
            			</div>
            		</div><!--//item-inner-->
            	</div> <!--//item-->
            	<div class="item col-lg-4">
            		<div class="item-inner">
            			<h4 class="text-capitalize">Associate's, Computer Science</h4>
            			<div class="education-body">
            				Hartnell College
            			</div><!--education-body-->
            			<div class="time">June 2015</div>
            			<div class="desc">
            				<ul>
            					<li>Winner, Best Overall App
									<ul>
										<li><a style="color: #fff" href="//csumb.edu/iied/ideas-march-2014" target="_blank">Ideas of March Competition, 2014</a> @ CSUMB</li>
									</ul>
									<li>STEM Internship Program
									<ul>
										<li>Summer 2013</li>
										<li>Summer 2014</li>
									</ul>
									<li>Courses</li> 
									<ul>
										<li>Intro to Computer Science & Programming Fundamentals</li>
                                        <li>Object Oriented Programming</li>
                                        <li>Data Structures & Algorithms</li>
                                        <li>Operating Systems</li>
                                        <li>Networking Fundamentals</li>
                                        <li>Integral Calculus</li>
                                        <li>Differential Calculus</li>
                                        <li>Physics & Mechanics</li>
                                        <li>Astronomy</li>
                                        <li>Public Speaking </li>
									</ul>
            				</ul>
            			</div>
            		</div><!--//item-inner-->
            	</div> <!--//item-->
            </div>
        </div>
    </section>