<!-- Experience Grid Section -->
    <section id="experience"><!-- class="experience section"-->
            <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2>Experience</h2>
	                    <hr class="star-primary">
	                </div>
	            </div>        
	            <div class="timeline">
					<div class="item">
					 <div class="work-place">	                        
							<h3 class="place">Pebble Beach Company</h3>
	                  <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Pebble Beach, CA</div>
	                  </div>
	                    <div class="job-meta">
	                        <div class="title">Technical Support Specialist</div>
	                        <div class="time">February 2022 - Present</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I am a jack of all trades IT Tech fixing issues with computers, point of sale systems, TVs, AVAYA phones, and software applications that arise regularly. I support a &cong; 2200 employee company on a team consisting of (currently) three techs. </p>
	                      <ul>
									 <li>Technical Support: I solve peoples' problems both at my desk and in person. We use Microsoft Endpoint Configuration Manager (formerly SCCM) for remote support, computer imaging, and application deployment/patching. I get to drive around the famous beautiful Pebble Beach Resort solving all sorts of problems.</li>
									 <li>Computer Imaging: I image computers with SCCM over PXE. We image computers and laptops very regularly for new employees and transferring employees. I replace computers for people without any data loss.</li>
									 <li>Writing: I update our internal IT documentation with new processes where necessary.</li>
									 <li>Account Management: I create, updated, delete, reset passwords, and manage users in Active Directory and a bunch of other applications.</li>	
									 <li>Tools: Active Directory, Microsoft Endpoint Configuration Manager (SCCM), MS365, GlobalProtect, Zoom, MS Teams, Windows, Agilysis InfoGenesis, AVAYA Site Administration</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
					
					<div class="item">
					 <div class="work-place">	                        
							<h3 class="place">DeVine Consulting</h3>
	                  <h4 class="sub-place">Naval Postgraduate School | Institute for Security Governance</h2>
							<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Monterey, CA</div>
	                  </div>
	                    <div class="job-meta">
	                        <div class="title">IT Specialist</div>
	                        <div class="time">April 2021 - February 2022</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I was the sole support person for a DoD agency consisting of about ninety people worldwide. I solved peoples' computer problems, imaged computers, and did a lot of remote support. I lead purchasing IT equipment. I assisted with the migration of their system to a secure version of MS365 (DoD365).</p>
	                      <ul>
									 <li>Remote Support: I solved users' problems on both macOS and Windows using remote tools including Splashtop and Ivanti LANDesk. I solved lots of problems with GlobalProtect, MS365, and especially Microsoft Teams. There were two conflicting MS365 Tenants that caused a lot of issues for people. </li>
									 <li>Computer Imaging: I imaged computers with LANDesk over PXE. I imaged a ton of computers to send out to remote workers during the height of Covid. At one point, I was imaging over 25 computers at a time for incoming foreign military students.</li>
									 <li>Liase with DoD IT Personnel: Assisted with the migration project to the aforementioned DoD365.</li>
									 <li>Cybersecurity: Maintained the security of devices by keeping abreast of software patching and interfaced with the Cybersecurity Operations Center at NPS to remedy cybersecurity vulnerabilities and incidents.</li>									
									 <li>Tools: Active Directory, Ivanti LANDesk, Splashtop, GlobalProtect, MS365 (DoD365), MS Teams, bash scripting, Git, Windows, macOS</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
					
					<div class="item">
					 <div class="work-place">	                        
							<h3 class="place">San Jose State University</h3>
	                  <h4 class="sub-place">Moss Landing Marine Laboratories (MLML)</h2>
							<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Moss Landing, CA</div>
	                  </div>
	                    <div class="job-meta">
	                        <div class="title">Help Desk Administrator</div>
	                        <div class="time">May 2018 - December 2019</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I worked in the IT Department to oversee the help desk, provide IT support and resolve tickets, assign projects and tickets to the help desk, and manage projects. I wore many hats. I solved problems. I put out fires. It was a fast paced environment with a very high learning curve. I learned something new every single day.</p>
	                      <ul>
									 <li>Design and Code: I redesigned and modernized our Public Data Portal site, bringing it up to modern standards. You can check it out <a href="http://pubdata.mlml.calstate.edu/" target="_blank">here</a>.
									 <li>WordPress: I managed updates, participated in design decisions, and trained people on how to use WordPress across all of <a href="http://www.mlml.calstate.edu" target="_blank">MLML's web presence</a>. 
									 <li>Manage Projects: Collaboratively wrote up shared planning documents that my team used to plan major projects. </li>
									 <li>Write: I love to write. This was very useful when I needed to come up with or edit documentation. I wrote and updated our documentation almost every single day. </li>
									 <li>Migration & Documentation: Researched new Knowledge Base Platforms. I then exported and managed the migration of our <a href="https://kb.mlml.calstate.edu" target="_blank">Knowledge Base</a> from PHPbb (read: old and ugly) to <a href="https://www.bookstackapp.com/">BookStack</a> (modern and pretty).
									 <li>People Management: Managed three grad-student help-desk techs and and assigned them low to mid-level support tickets.</li>
									 <li>IT Support: Evaluated, troubleshot, and resolved mid to high-level IT support tickets. At my sole discretion high and access-level tickets were escalated up the chain.</li>
									 <li>Tools: D3, React, Bootstrap, HTML5/CSS3, JavaScript, Python, PHP, Git, Unix/Linux/Bash, Drupal, G Suite</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
					
					
					<div class="item">
					 <div class="work-place">	                        
							<h3 class="place">University of California, Santa Cruz</h3>
							<h4 class="sub-place">Psychology Department</h2>
	                  <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Santa Cruz, CA</div>
	                  </div>
	                    <div class="job-meta">
	                        <div class="title">Research Assistant</div>
	                        <div class="time">Summer - Fall 2016</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I worked with a Research Psychologist to develop a smart room that was designed to assist toddler aged children with learning to read much earlier than is standard.</p>
	                      <ul>
	                        <li>Utilized the SoundHound API with Python to instantly show what a child said word by word on a television screen.</li>
	                        <li>Implemented a Computer Vision App using the Java based language Processing with a Microsoft Kinect to display on-screen which limb a child was currently moving or waving.</li>
	                        <li>Tools: Python, Java, Processing (programming language), SoundHound API, Kinect API</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
                    
                    <div class="item">
	                    <div class="work-place">
	                        <h3 class="place">Lawrence Livermore National Laboratory</h3>
	                        <h4 class="sub-place">Computation Division</h2>
									<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Livermore, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Research Intern</div>
	                        <div class="time">Summer 2015</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                        <p>I worked with a large research group that included seven interns, four scientists, and two developers. The long term goal was to introduce data analytics, machine learning, and data visualization into the workflow when running high-energy physics simulations. I worked on the data middleware between the simulation and analytics.</p>
	                        <ul>
	                            <li>Designed an API to quickly convert very large (>2GB) CSV text files that were generated by simulation runs into a much more efficient data format, the Hierarchical Data Format (HDF5). This reduced the size of this data to 25% of its original size.</li>
	                            <li>Wrote a python script to select sections of the data and output them as multi-dimensional arrays.</li>
	                            <li>Evaluated the use of Conduit, a data exchange library developed at the lab, as a method for data exchange at simulation run time.</li>
	                            <li>Check out my <a href="/pdfs/LLNL_Poster_2015.pdf">Research Poster</a></li>
	                            <li>Tools: Python, NumPy, Pandas, HDF5, H5Py, Conduit</li>
	                        </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->

	                <div class="item">
	                    <div class="work-place">
	                        <h3 class="place">NASA Ames Research Center</h3>
									<h4 class="sub-place">Intelligent Systems Division</h2>
	                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Mountain View, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Research Intern</div>
	                        <div class="time">Summer 2014</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I worked in the Vision Lab with a Computer Engineer and Research Psychologist on a mobile computer vision project.</p>
	                      <ul>
	                        <li>Developed an iOS application that performed a psychophysical vision test created by my mentor that was used to calibrate the gamma correction on an iPhone.</li>
	                        <li>Tested the app on both an iPhone and an iPad.</li>
	                        <li>Tools: Objective-C, Xcode, QuIP</li>
	                      </ul>000
	                    </div><!--//job-desc-->
	                </div><!--//item-->

	                <div class="item">
	                    <div class="work-place">
	                        <h3 class="place">Hartnell College</h3>
	                        <h4 class="sub-place">Mathematics Engineering Science Achievement (MESA)</h2>
									<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Salinas, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Supplemental Instructor</div>
	                        <div class="time">Spring Semester 2014</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                        <p>I was a tutor and TA for the Object Oriented Programming class at my community college.</p>
	                        <ul>
	                          <li>Was a TA for the undergraduate Object Oriented Programming class.</li>
	                          <li>Led twice-weekly tutoring sessions for an accelerated cohort of students achieving their Computer Science Bachelor's Degree in three years instead of the normal four.</li>
	                          <li>Graded programming assignments and assisted students falling behind.</li>
	                          <li>Tools: C++</li>
	                        </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
				
				<div class="item">
	                    <div class="work-place">
	                        <h3 class="place">Naval Postgraduate School</h3>
									<h4 class="sub-place">Digital Evaluation and Exploitation (DEEP) Lab</h3>
	                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Monterey, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Research Intern</div>
	                        <div class="time">Summer 2013</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                        <p>I worked with my mentor to significantly improve his tool for classifying file extension types, top level and bottom level directory names using web scraping, regex, and Python.</p>
	                        <ul>
	                          <li>Developed and improved a filetype classification tool for the identification and analysis of file extensions, top level directories, and bottom level directories</li>
	                          <li>Utilized the power of Python and regular expressions for web-scraping to create a master list of all known file extensions and their descriptions.</li>
	                          <li>Ran the tool on the U.S. Navy's very large digital forensics data corpus. Performed statistical analysis of filetype classifications.</li>
	                          <li>Tools: Python, Regular Expressions, Scrapy</li>
	                        </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
	            </div><!--//timeline-->	        
	        </div><!--//container-->

	</section><!--//section-->