<!-- Experience Grid Section -->
    <section id="experience"><!-- class="experience section"-->
            <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2>Experience</h2>
	                    <hr class="star-primary">
	                </div>
	            </div>        
	            <div class="timeline">
					<div class="item">
					 <div class="work-place">	                        
							<h3 class="place">Moss Landing Marine Laboratories</h3>
	                  <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Moss Landing California, CA</div>
	                  </div>
	                    <div class="job-meta">
	                        <div class="title">Help Desk Administrator</div>
	                        <div class="time">May 2018-Present</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I worked in the IT Department to Assign Tickets to the Help Desk, provided IT Support, Managed our Help-Desk Techs, and did Project Management. I wore many hats. I solved problems. I put out fires. It's a fast paced environment with a very high learning curve. I learned something new every single day.</p>
	                      <ul>
									 <li>Design and Code: I redesigned and modernized our Public Data Portal site, bringing it up to modern standards. You can check it out <a href="http://pubdata.mlml.calstate.edu/" target="_blank">here</a>.
									 <li>WordPress: I managed updates, participated in design decisions, and trained people on how to use WordPress across all of <a href="http://www.mlml.calstate.edu" target="_blank">MLML's web presence</a>. 
									 <li>Manage Projects: Collaboratively wrote up shared planning documents that my team used to plan major projects. </li>
									 <li>Write: I love to write. This was very useful when I needed to come up with or edit documentation. I wrote and updated our documentation almost every single day. </li>
									 <li>Migration & Documentation: Researched new Knowledge Base Platforms. I then exported and managed the migration of our <a href="https://kb.mlml.calstate.edu" target="_blank">Knowledge Base</a> from PHPbb (read: old and ugly) to <a href="https://www.bookstackapp.com/">BookStack</a> (modern and pretty).
									 <li>People Management: Managed three grad-student help-desk techs and and assigned them low to mid-level support tickets.</li>
									 <li>IT Support: Evaluated, troubleshot, and resolved mid to high-level IT support tickets. At my sole discretion high and access-level tickets were escalated up the chain.</li>
									 <li>Tools: D3, React, Bootstrap, HTML5/CSS3, JavaScript, Python, PHP, Git, Unix/Linux/Bash, Drupal, G Suite</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
					
					
					<div class="item">
					 <div class="work-place">	                        
							<h3 class="place">University of California, Santa Cruz</h3>
	                  <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Santa Cruz, CA</div>
	                  </div>
	                    <div class="job-meta">
	                        <div class="title">Research Assistant</div>
	                        <div class="time">Summer-Fall 2016</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I worked with a Research Psychologist to develop a smart room that was designed to assist toddler aged children with learning to read much earlier than is standard.</p>
	                      <ul>
	                        <li>Utilized the SoundHound API with Python to instantly show what a child said word by word on a television screen.</li>
	                        <li>Implemented a Computer Vision App using the Java based language Processing with a Microsoft Kinect to display on-screen which limb a child was currently moving or waving.</li>
	                        <li>Tools: Python, Java, Processing, SoundHound API, Kinect API</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
                    
                    <div class="item">
	                    <div class="work-place">
	                        <h3 class="place">Lawrence Livermore National Laboratory</h3>
	                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Livermore, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Software Engineering Intern</div>
	                        <div class="time">Summer 2015</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                        <p>I worked with a large research group that included seven interns, four scientists, and two developers. The long term goal was to introduce data analytics, machine learning, and data visualization into the workflow when running high-energy physics simulations. I worked on the data middleware between the simulation and analytics.</p>
	                        <ul>
	                            <li>Designed an API to quickly convert very large (>2GB) CSV text files that were generated by simulation runs into a much more efficient data format, the Hierarchical Data Format (HDF5). This reduced the size of this data to 25% of its original size.</li>
	                            <li>Wrote a python script to select sections of the data and output them as multi-dimensional arrays.</li>
	                            <li>Evaluated the use of Conduit, a data exchange library developed at the lab, as a method for data exchange at simulation run time.</li>
	                            <li>Check out my <a href="/pdfs/LLNL_Poster_2015.pdf">Research Poster</a></li>
	                            <li>Tools: Python, NumPy, Pandas, HDF5, H5Py, Conduit</li>
	                        </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->

	                <div class="item">
	                    <div class="work-place">
	                        <h3 class="place">NASA Ames Research Center</h3>
	                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Mountain View, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Research Intern</div>
	                        <div class="time">Summer 2014</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                      <p>I worked in the Vision Lab with a Computer Engineer and Research Psychologist on a mobile computer vision project.</p>
	                      <ul>
	                        <li>Developed an iOS application that performed a psychophysical vision test created by my mentor that was used to calibrate the gamma correction on an iPhone.</li>
	                        <li>Tested the app on both an iPhone and an iPad.</li>
	                        <li>Tools: Objective-C, Xcode, QuIP</li>
	                      </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->

	                <div class="item">
	                    <div class="work-place">
	                        <h3 class="place">Hartnell College</h3>
	                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Salinas, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Supplemental Instructor</div>
	                        <div class="time">Spring Semester 2014</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                        <p>I was a tutor and TA for the Object Oriented Programming class at my community college.</p>
	                        <ul>
	                          <li>Was a TA for the undergraduate Object Oriented Programming class.</li>
	                          <li>Led twice-weekly tutoring sessions for an accelerated cohort of students achieving their Computer Science Bachelor's Degree in three years instead of the normal four.</li>
	                          <li>Graded programming assignments and assisted students falling behind.</li>
	                          <li>Tools: C++</li>
	                        </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
				
				<div class="item">
	                    <div class="work-place">
	                        <h3 class="place">Naval Postgraduate School</h3>
	                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Monterey, CA</div>
	                    </div>
	                    <div class="job-meta">
	                        <div class="title">Research Intern</div>
	                        <div class="time">Summer 2013</div>
	                    </div><!--//job-meta-->
	                    <div class="job-desc">
	                        <p>I worked with my mentor to significantly improve his tool for classifying file extension types, top level and bottom level directory names using web scraping, regex, and Python.</p>
	                        <ul>
	                          <li>Developed and improved a filetype classification tool for the identification and analysis of file extensions, top level directories, and bottom level directories</li>
	                          <li>Utilized the power of Python and regular expressions for web-scraping to create a master list of all known file extensions and their descriptions.</li>
	                          <li>Ran the tool on the U.S. Navy's very large digital forensics data corpus. Performed statistical analysis of filetype classifications.</li>
	                          <li>Tools: Python, Regular Expressions, Scrapy</li>
	                        </ul>
	                    </div><!--//job-desc-->
	                </div><!--//item-->
	            </div><!--//timeline-->	        
	        </div><!--//container-->

	</section><!--//section-->